name: CI workflows
on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Clone repo
              uses: actions/checkout@v3

            - name: Set up Node v16
              uses: actions/setup-node@v3
              with:
                  node-version: "16"
                  cache: "yarn"

            - name: Install dependencies
              run: yarn install

            - name: Run linter
              run: yarn lint

    typescript:
        name: TypeScript Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3

            - name: Install Node v14
              uses: actions/setup-node@9ced9a43a244f3ac94f13bfd896db8c8f30da67a # tag=v3
              with:
                  node-version: "16"
                  cache: "yarn"

            - name: Install dependencies
              run: yarn install

            - name: Run TypeScript Compiler
              run: yarn build

    tests:
        name: Mocha tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3

            - name: Install Node v14
              uses: actions/setup-node@9ced9a43a244f3ac94f13bfd896db8c8f30da67a # tag=v3
              with:
                  node-version: "16"
                  cache: "yarn"

            - name: Install dependencies
              run: yarn install

            - name: Run TypeScript Compiler
              run: yarn build

            - name: Run tests
              run: yarn test
